@charset "utf-";

// Google font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.navbar-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
}

// Couleur de la marque
$black: black;
$white: white;
$primary: #f0b492;
$secondary: #d9b1a3;
$title: #32598c;

// Changer les variables globales de Bulma de Font, icones et boutons
$grey-dark: $white;
$grey-light: $secondary;
$link: $title;
$info: $white;

$title-family: "Roboto", sans-serif;
$title-color: $white;
$title-weight: bold;

$subtitle-family: "Lato", sans-serif;
$subtitle-color: $title;
$subtitle-weight: bold;

$paragraph-family: "Lato", sans-serif;
$paragraph-color: $black;
$paragraph-weight: normal;
$paragraph-size: 0.90em;

$icon-color: $white;

$button-family: "Roboto", sans-serif;

$button-color: $white;
$button-background-color: $white;
$button-hover-color: $white;
$button-border-color: none;
$button-hover-border-color: none;

$card-radius: 1rem;

// Changer les variables des composants
$body-background-color: $white;

$hero-border: 1px solid $white;

$navbar-height: 5rem;
$navbar-item-img-max-height: 7rem;
$navbar-item-hover-background-color: none;
$navbar-background-color: $primary;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-dropdown-item-hover-color: $title;
$navbar-dropdown-arrow: $white;

.navbar-start>.navbar-item {
  padding-left: 0.75rem; // ajustez cette valeur selon l'espacement désiré
  padding-right: 0.75rem; // ajustez cette valeur selon l'espacement désiré
}
.navbar-link:not(.is-arrowless):hover::after {
  border-color: $title;
}

// $navbar-background-start: #f0b492; // Couleur de début du gradient
// $navbar-background-end: darken(#f0b492, 15%); // Couleur de fin du gradient assombrie

@media only screen and (min-width: 960px) {
  .navbar {
    background: linear-gradient(90deg, rgba(216, 117, 41, 1) 0%, rgba(240, 180, 146, 1) 32%, rgba(240, 180, 146, 1) 100%);
  }
  .navbar-brand .navbar-item img {
    max-height: 6rem !important;
  }
}

@media only screen and (max-width: 960px) {
  .navbar-item {
    &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }

      &.is-active {
        .navbar-dropdown {
          display: block;
        }
      }
    }
  }
}

.image-accueil::after {
  content: 'Hortense Lot\aMagnétisme, Géobiologie\aNettoyage énergétique';
  white-space: pre; // Respecte les retours à la ligne dans content
  position: absolute;
  top: 10%; // Centrer le texte verticalement
  left: 10%; // Centrer le texte horizontalement
  color: #fff; // Couleur du texte
  text-align: left; // Centrer le texte
  font-size: 2em; // Taille du texte
}

.image-accompagnement::after {
  content: "L’accompagnement au mieux-être\aPersonnes, animaux, lieux";
  white-space: pre; // Respecte les retours à la ligne dans content
  position: absolute;
  top: 10%; // Centrer le texte verticalement
  left: 10%; // Centrer le texte horizontalement
  color: #fff; // Couleur du texte
  text-align: left; // Centrer le texte
  font-size: 2em; // Taille du texte
}

.paragraphs {
  font-family: $paragraph-family;
  color: $paragraph-color;
  font-weight: $paragraph-weight;
  font-size: $paragraph-size;
  text-align: justify;
}

.hortense {
  // color: $subtitle-color !important;
  font-family: $subtitle-family !important;
  font-weight: bold;
}

.echo_title {
  color: $subtitle-color;
}

::placeholder {
  color: $black !important;
  opacity: 1;
  text-align: center;
  /* Firefox */
}

.phone {
  display: none;
}

// icone
i {
  color: $icon-color;
}

.section {
  padding-top: 5rem; // Ajustez cette valeur selon le décalage
  margin-top: -5rem; // Ajustez cette valeur selon le décalage
}

// ajustement affichage desktop hero banner

@media screen and (min-width: 769px) {
  .hero.is-medium .hero-body {
    padding-bottom: 1.5rem !important;
    padding-top: 7rem !important;
  }
}

html {
  scroll-behavior: smooth;
}

// ajustement responsive screenshot

@media only screen and (max-width: 769px) {
  .screenshot1 {
    margin-left: 0px !important;
    margin-top: 0px !important;
    transform: none !important;
  }
}

// bandeaux

.hero.is-info {
  padding-bottom: 4rem !important;
  padding-top: 4rem !important;
  justify-content: center;

  .subtitle {
    margin-bottom: 1.5rem;
  }

  .subtitle i {
    color: #ffdf00 !important;
    font-size: 2rem;
    line-height: 1.125;
  }
}

.columns.is-vcentered {
  align-items: center;
  justify-content: center;
}

// input
.input {
  width: 70% !important;
}

#description {
  padding-top: 1rem !important;
  padding-bottom: 5rem !important;
  height: 5vh !important;
}


// bullet point w/ tick
.icon-text {
  display: flex !important;
  align-items: center !important;

  .icon {
    margin-right: 1.5rem;
  }
}

// button
.button {
  border-top: $secondary;
  font-weight: 600;
  background-color: $secondary !important;
}

// custom margin

.custom-margin-bottom {
  margin-bottom: 0.5rem !important;
}

// mobile screenshot

.is-border-round {
  border-radius: 1px !important;
}


// button submit

.custom-button {
  background-color: $white !important;
  color: $white !important;
  font-family: "Roboto", serif !important;
  font-weight: 700;
  box-shadow: none !important;

  &:hover {
    background-color: $white !important;
    color: $white !important;
    opacity: 1;
    box-shadow: 0 0 65px -3px green !important;
  }
}

// logo mobile
@media only screen and (max-width: 960px) {
.navbar-brand .navbar-item img {
  max-height: 5rem !important;
  background: radial-gradient(circle, rgba(216, 117, 41, 1) 29%, rgba(240, 180, 146, 1) 69%, rgba(240, 180, 146, 1) 100%);
  padding: 0.5em; // Ajout d'un peu d'espace autour du logo
  border-radius: 9em; // Adoucit les coins si le fond dépasse légèrement
  }
}

// custom scss fin

// Import uniquement des modules utilisés
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/elements/image.sass";